html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background: black;
  color: white;
  font-family: Georama-Rg, Arial, Helvetica, sans-serif;
}

.screen {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.credits {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 22px;
  line-height: 1.8;
  padding: 0 10%;
  box-sizing: border-box;
  will-change: transform; /* quan tr·ªçng */
}
.credits h2{
  text-align:center;
}

#tieude{
  text-align: center;
}